# Tutorial for using the new analysis API

This file outlines the various analysis API defined in the latest iteratation of the CAMAC software base. The flow of the program is as follows:
1. Recorded data file is stored as .bin
2. The .bin is processed by sas_analysis.py file to create .ftr file
3. The following script is then used to read the .ftr file and create analysis plots

In [2]:
# Needed libraries
import feather
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from pandas.plotting import andrews_curves
import sys
from MuonDataFrame import *

## Dataframe 

The following are the query terms *(strings)* for the dataframe: **'event_num', 'event_time', 'deadtime', 'TDC_L1_L', 'TDC_L1_R','TDC_L2_L', 'TDC_L2_R', 'ADC', 'TDC' , 'numChannelsRead', 'L1_asym','L2_asym', 'L1_TDC_sum', 'L2_TDC_sum', 'L1_TDC_diff', 'L2_TDC_diff'**

The following cell shows how to instantiate a MuonDataFrame object

In [3]:
# variable storing the path to .ftr file
ifile = "processed_data/events_data_frame_510.ftr"

# pass on the path to the MuonDataFrame object
mdf = MuonDataFrame(ifile)

## MuonDataFrame Methods

The following cell blocks explains the various methods accessible to the MuonDataFrame object

### Displaying the data frame
`MuonDataFrameObject.show()`

In [5]:
mdf.show()

     event_num                 event_time  deadtime  TDC_L1_L  TDC_L1_R  \
0            0 2020-09-11 14:52:20.935820       931       NaN       NaN
1            1 2020-09-11 14:52:21.025908      1159     142.0     111.0
2            2 2020-09-11 14:52:21.145883      1205     113.0     124.0
3            3 2020-09-11 14:52:21.326215       964     139.0     114.0
4            4 2020-09-11 14:52:21.425936      1134       NaN       NaN
..         ...                        ...       ...       ...       ...
995        995 2020-09-11 14:54:07.257322       569     154.0     111.0
996        996 2020-09-11 14:54:07.337286       938     148.0     110.0
997        997 2020-09-11 14:54:07.447403      1069       NaN     145.0
998        998 2020-09-11 14:54:07.547309       736     111.0     118.0
999        999 2020-09-11 14:54:07.647397       454       NaN       NaN

     TDC_L2_L  TDC_L2_R                                              ADC  \
0         NaN       NaN    [1, 33, 34, 35, 31, 22, 28, 7, 8, 18, 18, 24]
1       136.0     106.0    [1, 33, 34, 35, 31, 22, 28, 7, 8, 18, 18, 24]
2         NaN       NaN    [1, 33, 34, 35, 31, 22, 28, 7, 9, 18, 18, 24]
3       132.0     114.0    [1, 33, 34, 35, 31, 22, 28, 7, 8, 18, 18, 24]
4         NaN       NaN    [1, 33, 34, 35, 31, 22, 28, 7, 8, 18, 18, 24]
..        ...       ...                                              ...
995     136.0       NaN    [1, 33, 34, 35, 31, 22, 28, 7, 8, 18, 18, 24]
996       NaN       NaN    [1, 33, 34, 35, 31, 22, 28, 7, 8, 18, 18, 24]
997       NaN       NaN    [1, 33, 34, 35, 31, 22, 28, 7, 9, 18, 18, 24]
998       NaN       NaN    [1, 33, 34, 35, 31, 22, 28, 7, 8, 18, 18, 24]
999       NaN       NaN  [145, 33, 34, 35, 31, 22, 28, 7, 8, 18, 18, 24]

                                                   TDC  numChannelsRead  \
0                                                 None                0
1    [[0, 142], [1, 111], [3, 21], [3, 136], [4, 25...                4
2                                 [[0, 113], [1, 124]]                2
3             [[0, 139], [1, 114], [3, 132], [4, 114]]                4
4                                                 None                0
..                                                 ...              ...
995                     [[0, 154], [1, 111], [3, 136]]                3
996                               [[0, 148], [1, 110]]                2
997                                         [[1, 145]]                1
998                               [[0, 111], [1, 118]]                2
999                                               None                0

       L1_asym    L2_asym  L1_TDC_sum  L2_TDC_sum  L1_TDC_diff  L2_TDC_diff
0          NaN        NaN         NaN         NaN          NaN          NaN
1    12.252964  12.396694       253.0       242.0         31.0         30.0
2    -4.641350        NaN       237.0         NaN        -11.0          NaN
3     9.881423   7.317073       253.0       246.0         25.0         18.0
4          NaN        NaN         NaN         NaN          NaN          NaN
..         ...        ...         ...         ...          ...          ...
995  16.226415        NaN       265.0         NaN         43.0          NaN
996  14.728682        NaN       258.0         NaN         38.0          NaN
997        NaN        NaN         NaN         NaN          NaN          NaN
998  -3.056769        NaN       229.0         NaN         -7.0          NaN
999        NaN        NaN         NaN         NaN          NaN          NaN

[1000 rows x 16 columns]

### Displaying the data frame summary
`MuonDataFrameObject.summary()`

In [6]:
mdf.summary()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 16 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   event_num        1000 non-null   int64
 1   event_time       1000 non-null   datetime64[ns]
 2   deadtime         1000 non-null   int64
 3   TDC_L1_L         623 non-null    float64
 4   TDC_L1_R         644 non-null    float64
 5   TDC_L2_L         394 non-null    float64
 6   TDC_L2_R         404 non-null    float64
 7   ADC              1000 non-null   object
 8   TDC              743 non-null    object
 9   numChannelsRead  1000 non-null   int64
 10  L1_asym          585 non-null    float64
 11  L2_asym          356 non-null    float64
 12  L1_TDC_sum       585 non-null    float64
 13  L2_TDC_sum       356 non-null    float64
 14  L1_TDC_diff      585 non-null    float64
 15  L2_TDC_diff      356 non-null    float64
dtypes: datetime64[ns](1), float64(10), int64(3), object(2)
memory usage: 125.1+ KB
None

### Displaying the information contained in a particular query term
`MuonDataFrameObject.lookAt(queryTerm)`

The following cell shows the example for the *TDC* term

In [7]:
mdf.lookAt('TDC')

0                                                   None
1      [[0, 142], [1, 111], [3, 21], [3, 136], [4, 25...
2                                   [[0, 113], [1, 124]]
3               [[0, 139], [1, 114], [3, 132], [4, 114]]
4                                                   None
                             ...
995                       [[0, 154], [1, 111], [3, 136]]
996                                 [[0, 148], [1, 110]]
997                                           [[1, 145]]
998                                 [[0, 111], [1, 118]]
999                                                 None
Name: TDC, Length: 1000, dtype: object

### Displaying the sumarry of the information contained in a particular query term
`MuonDataFrameObject.getStats(queryTerm)`

The following cell shows the example for the *deadtime* term

In [8]:
mdf.getStats("deadtime")

count    1000.000000
mean      976.118000
std       610.428824
min       357.000000
25%       575.500000
50%       891.000000
75%      1094.750000
max      3508.000000
Name: deadtime, dtype: float64

### Displaying the information contained in a particular event/events

`MuonDataFrameObject.getEventInfo([begin_event_num, end_event_num])` or `MuonDataFrameObject.getEventInfo(event_num)`

In [13]:
mdf.getEventInfo(832)

     event_num                 event_time  deadtime  TDC_L1_L  TDC_L1_R  \
832        832 2020-09-11 14:53:51.365576       917     147.0     112.0

     TDC_L2_L  TDC_L2_R                                            ADC  \
832       NaN       NaN  [1, 33, 34, 35, 31, 22, 28, 7, 8, 18, 18, 24]

                      TDC  numChannelsRead    L1_asym  L2_asym  L1_TDC_sum  \
832  [[0, 147], [1, 112]]                2  13.513514      NaN       259.0

     L2_TDC_sum  L1_TDC_diff  L2_TDC_diff
832         NaN         35.0          NaN