In [1]:
from MuonDataFrame import *
file = "processed_data/events_data_frame_800.ftr"
mdfo = MuonDataFrame(file, isNew=False, d1="last") #Muon Data Frame Object

In [5]:
mdf = mdfo.events_df

In [41]:
mdf

,event_num,event_time,deadtime,ADC,TDC,SCh0,SCh1,SCh2,SCh3,SCh4,...,sumL4,diffL1,diffL2,diffL3,diffL4,asymL1,asymL2,asymL3,asymL4,numLHit
0,0,2020-10-16 17:32:35.058359,753,"[1, 31, 32, 33, 29, 21, 26, 6, 7, 16, 16, 23]","[[0, 87], [1, 131], [3, 80], [4, 130], [6, 91]...",1,19,21,0,4,...,214.0,-44.0,-50.0,-42.0,54.0,-0.201835,-0.238095,-0.187500,0.252336,8
1,1,2020-10-16 17:32:35.348410,1066,"[1, 31, 32, 33, 29, 21, 26, 6, 7, 16, 16, 23]","[[3, 110], [4, 93], [6, 109]]",1,43,63,0,17,...,NaN,NaN,17.0,NaN,NaN,NaN,0.083744,NaN,NaN,3
2,2,2020-10-16 17:32:35.498669,3362,"[1, 31, 32, 33, 29, 21, 26, 6, 7, 16, 16, 23]","[[1, 130], [3, 87], [4, 121], [6, 95], [7, 129...",1,50,79,0,16,...,NaN,NaN,-34.0,-34.0,NaN,NaN,-0.163462,-0.151786,NaN,6
3,3,2020-10-16 17:32:35.838763,812,"[1, 31, 32, 33, 29, 21, 26, 6, 7, 16, 16, 23]","[[0, 99], [3, 95], [4, 126], [6, 96], [7, 129]...",1,21,32,0,11,...,NaN,NaN,-31.0,-33.0,NaN,NaN,-0.140271,-0.146667,NaN,6
4,4,2020-10-16 17:32:35.968733,1038,"[1, 32, 32, 33, 29, 21, 26, 6, 7, 16, 16, 23]","[[1, 116], [3, 117], [4, 82], [7, 124]]",1,16,18,0,5,...,NaN,NaN,35.0,NaN,NaN,NaN,0.175879,NaN,NaN,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199995,199995,2020-10-17 06:48:11.133846,1417,"[1, 32, 32, 33, 29, 21, 27, 6, 7, 16, 17, 23]","[[0, 112], [3, 87], [4, 112], [6, 115], [7, 83...",1,16,22,0,7,...,NaN,NaN,-25.0,32.0,NaN,NaN,-0.125628,0.161616,NaN,6
199996,199996,2020-10-17 06:48:11.262258,1051,"[1, 31, 32, 33, 29, 21, 26, 6, 7, 16, 16, 23]","[[0, 112], [6, 115], [7, 95]]",1,30,32,0,8,...,NaN,NaN,NaN,20.0,NaN,NaN,NaN,0.095238,NaN,3
199997,199997,2020-10-17 06:48:11.474349,621,"[1, 31, 32, 33, 29, 21, 27, 6, 7, 16, 16, 23]","[[3, 93], [4, 121]]",1,28,33,0,9,...,NaN,NaN,-28.0,NaN,NaN,NaN,-0.130841,NaN,NaN,2
199998,199998,2020-10-17 06:48:11.553695,1214,"[1, 31, 32, 33, 29, 21, 27, 6, 7, 16, 17, 23]","[[1, 134], [3, 80], [4, 130], [9, 130], [10, 84]]",1,13,8,0,5,...,214.0,NaN,-50.0,NaN,46.0,NaN,-0.238095,NaN,0.214953,5
199999,199999,2020-10-17 06:48:11.673804,1043,"[1, 31, 32, 33, 29, 21, 27, 6, 7, 16, 16, 23]","[[3, 102], [4, 101], [6, 91], [7, 116], [9, 112]]",1,23,22,0,5,...,NaN,NaN,1.0,-25.0,NaN,NaN,0.004926,-0.120773,NaN,5

In [49]:
mdf = mdf[mdf['deadtime'] >= 222]

In [52]:
mdf

,event_num,event_time,deadtime,ADC,TDC,SCh0,SCh1,SCh2,SCh3,SCh4,...,sumL4,diffL1,diffL2,diffL3,diffL4,asymL1,asymL2,asymL3,asymL4,numLHit
0,0,2020-10-16 17:32:35.058359,753,"[1, 31, 32, 33, 29, 21, 26, 6, 7, 16, 16, 23]","[[0, 87], [1, 131], [3, 80], [4, 130], [6, 91]...",1,19,21,0,4,...,214.0,-44.0,-50.0,-42.0,54.0,-0.201835,-0.238095,-0.187500,0.252336,8
1,1,2020-10-16 17:32:35.348410,1066,"[1, 31, 32, 33, 29, 21, 26, 6, 7, 16, 16, 23]","[[3, 110], [4, 93], [6, 109]]",1,43,63,0,17,...,NaN,NaN,17.0,NaN,NaN,NaN,0.083744,NaN,NaN,3
2,2,2020-10-16 17:32:35.498669,3362,"[1, 31, 32, 33, 29, 21, 26, 6, 7, 16, 16, 23]","[[1, 130], [3, 87], [4, 121], [6, 95], [7, 129...",1,50,79,0,16,...,NaN,NaN,-34.0,-34.0,NaN,NaN,-0.163462,-0.151786,NaN,6
3,3,2020-10-16 17:32:35.838763,812,"[1, 31, 32, 33, 29, 21, 26, 6, 7, 16, 16, 23]","[[0, 99], [3, 95], [4, 126], [6, 96], [7, 129]...",1,21,32,0,11,...,NaN,NaN,-31.0,-33.0,NaN,NaN,-0.140271,-0.146667,NaN,6
4,4,2020-10-16 17:32:35.968733,1038,"[1, 32, 32, 33, 29, 21, 26, 6, 7, 16, 16, 23]","[[1, 116], [3, 117], [4, 82], [7, 124]]",1,16,18,0,5,...,NaN,NaN,35.0,NaN,NaN,NaN,0.175879,NaN,NaN,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199995,199995,2020-10-17 06:48:11.133846,1417,"[1, 32, 32, 33, 29, 21, 27, 6, 7, 16, 17, 23]","[[0, 112], [3, 87], [4, 112], [6, 115], [7, 83...",1,16,22,0,7,...,NaN,NaN,-25.0,32.0,NaN,NaN,-0.125628,0.161616,NaN,6
199996,199996,2020-10-17 06:48:11.262258,1051,"[1, 31, 32, 33, 29, 21, 26, 6, 7, 16, 16, 23]","[[0, 112], [6, 115], [7, 95]]",1,30,32,0,8,...,NaN,NaN,NaN,20.0,NaN,NaN,NaN,0.095238,NaN,3
199997,199997,2020-10-17 06:48:11.474349,621,"[1, 31, 32, 33, 29, 21, 27, 6, 7, 16, 16, 23]","[[3, 93], [4, 121]]",1,28,33,0,9,...,NaN,NaN,-28.0,NaN,NaN,NaN,-0.130841,NaN,NaN,2
199998,199998,2020-10-17 06:48:11.553695,1214,"[1, 31, 32, 33, 29, 21, 27, 6, 7, 16, 17, 23]","[[1, 134], [3, 80], [4, 130], [9, 130], [10, 84]]",1,13,8,0,5,...,214.0,NaN,-50.0,NaN,46.0,NaN,-0.238095,NaN,0.214953,5
199999,199999,2020-10-17 06:48:11.673804,1043,"[1, 31, 32, 33, 29, 21, 27, 6, 7, 16, 16, 23]","[[3, 102], [4, 101], [6, 91], [7, 116], [9, 112]]",1,23,22,0,5,...,NaN,NaN,1.0,-25.0,NaN,NaN,0.004926,-0.120773,NaN,5

In [5]:
mdfo.gui()

PandasGUI ERROR — pandasgui.widgets.grapher — Plotly Express cannot process wide-form data with columns of different type.
PandasGUI ERROR — pandasgui.widgets.grapher — Plotly Express cannot process wide-form data with columns of different type.
PandasGUI ERROR — pandasgui.widgets.grapher — Plotly Express cannot process wide-form data with columns of different type.
PandasGUI ERROR — pandasgui.widgets.grapher — Plotly Express cannot process wide-form data with columns of different type.
PandasGUI ERROR — pandasgui.widgets.grapher — Plotly Express cannot process wide-form data with columns of different type.
PandasGUI ERROR — pandasgui.widgets.grapher — Plotly Express cannot process wide-form data with columns of different type.
PandasGUI ERROR — pandasgui.widgets.grapher — Plotly Express cannot process wide-form data with columns of different type.
PandasGUI ERROR — pandasgui.widgets.grapher — Plotly Express cannot process wide-form data with columns of different type.

KeyboardInterrupt:

In [3]:
mdfo.gui()

PandasGUI ERROR — pandasgui.widgets.grapher — Plotly Express cannot process wide-form data with columns of different type.
PandasGUI ERROR — pandasgui.widgets.grapher — Plotly Express cannot process wide-form data with columns of different type.

In [6]:
from pandasgui import show

show(mdf)

PandasGUI ERROR — pandasgui.widgets.grapher — Plotly Express cannot process wide-form data with columns of different type.
PandasGUI ERROR — pandasgui.widgets.grapher — Plotly Express cannot process wide-form data with columns of different type.
PandasGUI ERROR — pandasgui.widgets.grapher — Plotly Express cannot process wide-form data with columns of different type.